<div id="Cars">
  <div class="card">
    <div class="card-header">
      <h2>Cars page</h2>

    </div>
    <div class="card-body">
      <a href="cars/create" class="btn btn-primary" id="add-Car-btn">
        Add new Car
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-header card-header-primary">
      Cars table <br>

    </div>
    <div class="card-body">
      <div>
        <table class="table" id="md">
          <thead>
            <tr>
              <th scope="col">Car Color</th>
              <th scope="col">Make</th>
              <th scope="col">Car Model</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>

            {{#each cars}}
            <tr>
              <td>

                <img src="{{firstImage this.images}}" style="width:50px;height:50px;">

                {{this.color}}
              </td>
              <td>{{this.make}}</td>
              <td>{{this.model_name}}</td>
              <td class="text-center">
                <a class="bg-white text-danger mr-3" style="border-radius:100% !important" href="#">
                  <i class="material-icons">close</i>
                </a>
                <a class="bg-white text-success" style="border-radius:100% !important" href="cars/{{this.id}}/edit">
                  <i class="material-icons">edit</i>
                </a>
              </td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



{{#section 'scripts'}}


<script>
  $(document).ready(function () {
    $('#md').DataTable({
      processing: true,

    });
  });
</script>


{{/section}}