<div class="hide " id="Parts">
  <div class="card">
    <div class="card-header">
      <h2>Parts page</h2>

    </div>
    <div class="card-body">
      {{#if user.hasStore}}
      <a href="{{baseUrl}}/dashboard/parts/create" class="btn btn-primary" id="add-Part-btn">
        Add new Part
      </a>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-header card-header-primary">
      Parts table <br>
      There are {{parts.length}} Parts
    </div>
    <div class="card-body">
      <div>
        <table class="table" id="md">
          <thead>
            <tr>
              <th scope="col">Part Name</th>
              <th scope="col"> store</th>
              <th scope="col">model</th>
              <th scope="col">year</th>
              
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>

            {{#each parts}}
            <tr>

              <td>
                
                <img src="{{asset this.photo}}" style="width:50px;height:50px;">
                {{this.name}}
              </td>
              <td>
                {{this.store_name}}
              </td>
              <td>
                {{this.make}} {{this.model_name}}
              </td>
              <td>
                {{this.year}}
              </td>
              <td class="text-center">
                <form action="{{baseUrl}}/dashboard/parts/{{this.id}}/destroy" method="post" style="display: inline">
                  <button class="bg-white text-danger mr-3" style="border:white !important;cursor:pointer;outline:none">
                    <i class="material-icons">close</i>
                  </button>
                </form>
                <a class="bg-white text-success" style="border-radius:100% !important;cursor:pointer;outline:none" href="{{baseUrl}}/dashboard/parts/{{this.id}}/edit">
                  <i class="material-icons">edit</i>
                </a>
              </td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



{{#section 'scripts'}}


<script>
  $(document).ready(function () {
    $('#md').DataTable({
      processing: true,

    });
  });
</script>


{{/section}}