<div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/USD00BMC891A021001.jpg">
  <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Makina
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" id="dash">
        <a class="nav-link" href="{{baseUrl}}/dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item" id="mod">
        <a class="nav-link" href="{{baseUrl}}/dashboard/models">
          <i class="material-icons">person</i>
          <p>Model</p>
        </a>
      </li>

      {{#ifCond user.hasAgency '||' user.isAdmin}}
      <li class="nav-item" id="Car">
        <a class="nav-link" href="{{baseUrl}}/dashboard/cars">
          <div class="card-icon">
            <i class="material-icons">garage</i>
          </div>
          <p>Cars</p>
        </a>
      </li>
      {{/ifCond}}
      {{#ifCond user.hasStore '||' user.isAdmin}}
      <li class="nav-item" id="Part">
        <a class="nav-link" href="{{baseUrl}}/dashboard/parts">
          <div class="card-icon">
            <i class="material-icons">build</i>
          </div>
          <p>Parts</p>
        </a>
      </li>
      {{/ifCond}}
      {{#if user.isAdmin}}
      <li class="nav-item" id="Agen">
        <a class="nav-link" href="{{baseUrl}}/dashboard/agency">
          <i class="material-icons">person</i>
          <p>Agency</p>
        </a>
      </li>
      <li class="nav-item" id="Agen">
        <a class="nav-link" href="{{baseUrl}}/dashboard/store">
          <i class="material-icons">person</i>
          <p>Store</p>
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
</div>