<div class="card">
    <div class="card-header">
        <h4>Add Model </h4>
        <a href="{{baseUrl}}/dashboard/models" class="txt-primary">/Back</a>
    </div>
    <div class="card-body">
        <form action="{{baseUrl}}/dashboard/models/{{model.id}}/update" method="POST">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form6Example1" name="make" class="form-control" value="{{model.make}}" />
                        <label class="form-label" for="form6Example1">Make</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form6Example2" name="model_name" class="form-control"
                            value="{{model.model_name}}" />
                        <label class="form-label" for="form6Example2">Model</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" name="type" id="form6Example1" class="form-control" value="{{model.type}}" />
                        <label class="form-label" for="form6Example1">type</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" name="fuel" id="form6Example2" class="form-control" value="{{model.fuel}}" />
                        <label class="form-label" for="form6Example2">fuel</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" name="transmission" id="form6Example1" class="form-control"
                            value="{{model.transmission}}" />
                        <label class="form-label" for="form6Example1">transmission</label>
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary  mb-4">submit</button>
        </form>
    </div>
</div>